<% rows.forEach(function(form){ %>

    <div>
        <h1><strong><%= form.receiver %></strong></h1>
        <h1><strong><%= form.address %></strong></h1>
        <h1><strong><%= form.postal %></strong></h1>
        <h1><strong><%= form.phone %></strong></h1>
        <h1><strong><%= form.client %></strong></h1>
        <h1><strong><%= form.acumin %></strong></h1>
        <h1><strong><%= form.name %></strong></h1>
        <h1><strong><%= form.delivery %></strong></h1>
        <h1><strong><%= form.time %></strong></h1>
        <h1><strong><%= form.signature %></strong></h1>
        <h1><strong><%= form.email %></strong></h1>
    </div>
    
<% }); %>