<% include partials/header %>

<div style="width: 90%; margin: 50px auto">
<% form.forEach(function(form){ %>
    <div class="form-group">
        <h2><b>Order Id: </b><%= form.id %></h2>
        <h5><b>Receiver: </b><%= form.receiver %></h5>
        <h5><b>Postal: </b><%= form.postal %></h5>
        <h5><b>Phone: </b><%= form.phone %></h5>
        <h5><b>Client: </b><%= form.client %></h5>
        <h5><b>Acumin: </b><%= form.acumin %></h5>
        <h5><b>Name: </b><%= form.name %></h5>
        <h5><b>Delivery: </b><%= form.delivery %></h5>
        <h5><b>Time: </b><%= form.time %></h5>
        <h5><b>Signature: </b><%= form.signature %></h5>
        <h5><b>Address: </b><%= form.address %></h5>
        <h5><b>Email: </b><%= form.email %></h5>
        <a style="margin: 5px auto" class="btn btn-sm btn-warning" href="/forms/edit/<%= form.id %>"</a>Edit</a>
        <form action="/forms/<%= form.id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
        </form>
    </div>
<% }); %>
<form action="/" method="GET">
    <button class="btn btn-success">Back to Form</button>
</form>
</div>

<% include partials/footer %>