<% result.rows.forEach(function(rows){ %>

    <div>
        <h1><b>Receiver: </b><%= rows.receiver %></h1>
        <h5><b>Postal: </b><%= rows.postal %></h5>
        <h5><b>Phone: </b><%= rows.phone %></h5>
        <h5><b>Client: </b><%= rows.client %></h5>
        <h5><b>Acumin: </b><%= rows.acumin %></h5>
        <h5><b>Name: </b><%= rows.name %></h5>
        <h5><b>Delivery: </b><%= rows.delivery %></h5>
        <h5><b>Time: </b><%= rows.time %></h5>
        <h5><b>Signature: </b><%= rows.signature %></h5>
        <h5><b>Address: </b><%= rows.address %></h5>
        <h5><b>Email: </b><%= rows.email %></h5>
        <h5>**************************</h5>
    </div>
    
<% }); %>